.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u13704-4,#u13705-4,#u13706-4,#u10310-4,#u10251-4,#u10271-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10291-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10278-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10256-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10266-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10287-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13725-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10915-2
{
	font-family: open-sans-n4, sans-serif;
}

#u10915-3
{
	font-family: alice-n4, serif;
}

#u10916-4
{
	font-family: open-sans-i4, sans-serif;
}

#u10831-4,#u10914-4,#u13754-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13755-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13751-3
{
	font-family: '__FontAwesome_5';
}

#u13757-3
{
	font-family: '__FontAwesome_5';
}

#u13752-3
{
	font-family: '__FontAwesome_5';
}

#u10922-4,#u13763-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13764-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13761-3
{
	font-family: '__FontAwesome_5';
}

#u13765-3
{
	font-family: '__FontAwesome_5';
}

#u13762-3
{
	font-family: '__FontAwesome_5';
}

#u13773-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13769-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13770-3
{
	font-family: '__FontAwesome_5';
}

#u13772-3
{
	font-family: '__FontAwesome_5';
}

#u13771-3
{
	font-family: '__FontAwesome_5';
}

#u13442-4
{
	font-family: montserrat-n4, sans-serif;
}

