.version.index /* version checker */
{
	color: #0000E1;
	background-color: #FD5643;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 48px;
}

#u13707
{
	z-index: 303;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 101px;
}

#u13704-4
{
	z-index: 291;
	width: 117px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 123px;
}

#u13709
{
	z-index: 304;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 270px;
}

#u13705-4
{
	z-index: 295;
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 292px;
}

#u13711
{
	z-index: 305;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 468px;
}

#u13706-4
{
	z-index: 299;
	width: 241px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 489px;
}

#u10302
{
	z-index: 281;
	width: 201px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1070px;
}

#u13713
{
	z-index: 306;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 22px;
}

#u13715
{
	z-index: 307;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 58px;
}

#u13717
{
	z-index: 308;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 93px;
}

#u13719
{
	z-index: 309;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 128px;
}

#u13721
{
	z-index: 310;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 163px;
}

#u10295,#u10295-bw
{
	z-index: 280;
	min-height: 30px;
}

#u13723
{
	z-index: 242;
	height: 85px;
}

#u13723-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 242;
	top: 30px;
}

#u10754
{
	z-index: 282;
	width: 203px;
	top: 57px;
	left: 0px;
}

#u10310-4
{
	z-index: 287;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
}

#u10251-4
{
	z-index: 283;
	width: 158px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 45px;
}

#menuu10252
{
	z-index: 243;
	width: 718px;
	top: 63px;
	left: 482px;
}

#u10267
{
	width: 104px;
	min-height: 25px;
	margin-right: -10000px;
}

#u10268
{
	width: 104px;
	padding-bottom: 9px;
}

#u10268:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u10268.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u10271-4
{
	width: 45px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10268:hover #u10271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u10268.MuseMenuActive #u10271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u10288
{
	width: 135px;
	min-height: 25px;
	margin-right: -10000px;
	left: 106px;
}

#u10289
{
	width: 135px;
	padding-bottom: 9px;
}

#u10289:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u10289.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u10291-4
{
	width: 76px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10289:hover #u10291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u10289.MuseMenuActive #u10291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u10274
{
	width: 131px;
	min-height: 25px;
	margin-right: -10000px;
	left: 243px;
}

#u10277
{
	width: 131px;
	padding-bottom: 9px;
}

#u10277:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u10277.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u10278-4
{
	width: 72px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10277:hover #u10278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u10277.MuseMenuActive #u10278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u10253
{
	width: 110px;
	min-height: 25px;
	margin-right: -10000px;
	left: 376px;
}

#u10254
{
	width: 110px;
	padding-bottom: 9px;
}

#u10254:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u10254.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u10256-4
{
	width: 51px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10254:hover #u10256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u10254.MuseMenuActive #u10256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u10260
{
	width: 99px;
	min-height: 25px;
	margin-right: -10000px;
	left: 488px;
}

#u10263
{
	width: 99px;
	padding-bottom: 9px;
}

#u10263:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u10263.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u10266-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10263:hover #u10266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u10263.MuseMenuActive #u10266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u10281
{
	width: 129px;
	min-height: 25px;
	margin-right: -10000px;
	left: 589px;
}

#u10284
{
	width: 129px;
	padding-bottom: 9px;
}

#u10284:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u10284.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u10287-4
{
	width: 71px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10284:hover #u10287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u10284.MuseMenuActive #u10287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu8267
{
	z-index: 17;
	width: 0.01px;
	height: 565px;
	position: fixed;
	top: 115px;
	left: -100px;
}

#u8272
{
	position: absolute;
	width: 1370px;
	height: 540px;
	background-color: transparent;
}

#u8272popup
{
	z-index: 18;
}

#u8516
{
	z-index: 19;
	width: 1370px;
	height: 540px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8516:hover
{
	background-color: transparent;
	width: 1370px;
	height: 540px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13998
{
	z-index: 21;
	width: 1370px;
	height: 540px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8516:active,#u13998:hover
{
	background-color: transparent;
	width: 1370px;
	height: 540px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13998:active
{
	background-color: transparent;
	width: 1370px;
	height: 540px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14007
{
	z-index: 23;
	width: 1370px;
	height: 540px;
	border-style: none;
	background-color: #ADADAD;
	margin-right: -10000px;
	position: relative;
}

#u8269
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 515px;
	left: 511px;
}

#u8269popup
{
	z-index: 25;
}

#u8522-4
{
	z-index: 26;
	width: 329px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	letter-spacing: 1px;
	color: #737373;
	text-align: center;
	line-height: 28px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14004-4
{
	z-index: 30;
	width: 329px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	letter-spacing: 1px;
	color: #737373;
	text-align: center;
	line-height: 28px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u14013-4
{
	z-index: 34;
	width: 329px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	letter-spacing: 1px;
	color: #737373;
	text-align: center;
	line-height: 28px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u8522-2,#u14004-2,#u14013-2
{
	padding-right: 1px;
}

#u8287-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	letter-spacing: 2px;
	color: #737373;
	text-align: center;
	line-height: 28px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	top: 515px;
	left: 461px;
}

#u8287-4popup
{
	z-index: 38;
}

#u8278-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	letter-spacing: 2px;
	color: #737373;
	text-align: center;
	line-height: 28px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	top: 515px;
	left: 859px;
}

#u8287-4:hover,#u8278-4:hover
{
	background-color: #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	width: 30px;
	margin: 0px;
}

#u8278-4popup
{
	z-index: 42;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u13980
{
	z-index: 15;
	height: 540px;
	background-color: #DDDDDD;
}

#u13980-bw
{
	z-index: 15;
	margin-top: 84px;
	height: 540px;
}

#u8582
{
	z-index: 16;
	width: 448px;
	height: 4px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: fixed;
	top: 680px;
	left: 360px;
	background: transparent url("../images/shadow2.png") no-repeat left top;
}

#pu10124
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 38px;
}

#u10124
{
	z-index: 49;
	min-height: 368px;
	background-color: #FFFFFF;
	padding-bottom: 80px;
}

#u8776
{
	z-index: 53;
	width: 570px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 100px;
}

#u8776:hover
{
	width: 570px;
	min-height: 0px;
	margin: 68px -10000px 0px 0px;
}

.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u8776_clip
{
	overflow: hidden;
	width: 570px;
	height: 300px;
}

#u8776_img
{
	margin-top: -51px;
	margin-bottom: -5px;
}

#pu6092-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 68px;
	margin-left: 700px;
}

#u6092-4
{
	z-index: 55;
	width: 370px;
	min-height: 32px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u9445
{
	z-index: 129;
	width: 60px;
	height: 2px;
	background-color: #DDDDDD;
	margin-top: 6px;
	position: relative;
}

#u6093-5
{
	z-index: 71;
	width: 370px;
	min-height: 128px;
	background-color: transparent;
	text-align: left;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u9606
{
	z-index: 152;
	width: 144px;
	border-width: 5px;
	border-style: solid;
	border-color: #91C842;
	background-color: #000000;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 1117px;
}

#u9606:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 144px;
	min-height: 0px;
	margin: 69px -10000px 0px 0px;
}

#u9607-6
{
	z-index: 153;
	width: 153px;
	min-height: 104px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 25px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: -5px;
}

#u10124-bw
{
	z-index: 49;
	min-height: 368px;
}

#u8711-4
{
	z-index: 81;
	width: 369px;
	min-height: 80px;
	background-color: transparent;
	text-align: left;
	line-height: 24px;
	letter-spacing: 0px;
	color: #56A417;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 700px;
}

#u12156
{
	z-index: 47;
	height: 472px;
	background-color: #91C842;
}

#u12156-bw
{
	z-index: 47;
	height: 472px;
}

#u9614
{
	z-index: 51;
	min-height: 472px;
	background: #F5FAED url("../images/p1-u9614-fr.png") no-repeat center bottom;
	background-color: rgba(145,200,66,0.09);
	background-size: cover;
}

#u9614_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 79px;
	padding-bottom: 355px;
}

#u9650-4
{
	z-index: 67;
	width: 635px;
	min-height: 28px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	left: 368px;
	position: relative;
}

#u9651
{
	z-index: 132;
	width: 60px;
	height: 2px;
	background-color: #000000;
	left: 655px;
	margin-top: 8px;
	position: relative;
}

#u9614-bw
{
	z-index: 51;
	min-height: 472px;
}

#slideshowu9525
{
	z-index: 133;
	width: 0.01px;
	height: 235px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 100px;
}

#u9539
{
	position: absolute;
	width: 697px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 766px;
	left: 238px;
	-pie-background: rgba(0,0,0,0.9);
}

#u9539popup
{
	z-index: 134;
}

#u9981
{
	z-index: 135;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9981_img
{
	padding-top: 11px;
	padding-bottom: 11px;
}

#u14048
{
	z-index: 137;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14048_img
{
	padding-left: 6px;
	padding-right: 6px;
}

#u14057
{
	z-index: 139;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14057_img
{
	padding-left: 4px;
	padding-right: 4px;
}

#u14066
{
	z-index: 141;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14066_img
{
	padding: 4px 6px 3px 7px;
}

#u9526
{
	position: absolute;
	width: 1170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 2px;
}

#u9526popup
{
	z-index: 143;
}

#u9984
{
	z-index: 144;
	width: 292px;
	height: 233px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u14051
{
	z-index: 146;
	width: 292px;
	height: 233px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 293px;
}

#u14051_img
{
	margin-left: -28px;
	margin-right: -27px;
}

#u14060
{
	z-index: 148;
	width: 292px;
	height: 233px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 585px;
}

#u14060_img
{
	margin-left: -29px;
	margin-right: -29px;
}

#u14069
{
	z-index: 150;
	width: 292px;
	height: 233px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 877px;
}

#u9984:hover,#u14051:hover,#u14060:hover,#u14069:hover
{
	border-color: #000000;
	width: 292px;
	height: 233px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14051_clip,#u14060_clip,#u14069_clip
{
	overflow: hidden;
	width: 292px;
	height: 233px;
}

#u14069_img
{
	margin-left: -30px;
	margin-right: -31px;
}

#u10125
{
	z-index: 48;
	min-height: 545px;
	background-color: #FFFFFF;
	padding-bottom: 80px;
}

#pu9952-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 80px;
	margin-left: 100px;
}

#u9952-4
{
	z-index: 59;
	width: 570px;
	min-height: 32px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u9953
{
	z-index: 130;
	width: 60px;
	height: 2px;
	background-color: #DDDDDD;
	margin-top: 6px;
	position: relative;
}

#u9954-5
{
	z-index: 76;
	width: 570px;
	min-height: 94px;
	background-color: transparent;
	text-align: left;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u6093-2,#u9954-2
{
	line-height: 24px;
	color: #737373;
	font-family: open-sans, sans-serif;
}

#u6093-3,#u9954-3
{
	line-height: 21px;
	letter-spacing: 1px;
	color: #000000;
	font-family: alice, serif;
}

#pu13738
{
	width: 0.01px;
	margin-top: 23px;
}

#u13738
{
	z-index: 227;
	width: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u13741-3
{
	z-index: 228;
	width: 50px;
	min-height: 50px;
	background-color: #56A417;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u13739
{
	z-index: 231;
	width: 26px;
	min-height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 12px;
}

#u10007-4
{
	z-index: 159;
	width: 290px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #56A417;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#pu13742
{
	width: 0.01px;
	margin-top: 43px;
}

#u13742
{
	z-index: 232;
	width: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u13743-3
{
	z-index: 233;
	width: 50px;
	min-height: 50px;
	background-color: #56A417;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u13744
{
	z-index: 236;
	width: 26px;
	min-height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 12px;
}

#u10008-4
{
	z-index: 163;
	width: 431px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #56A417;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#pu13746
{
	width: 0.01px;
	margin-top: 44px;
}

#u13746
{
	z-index: 237;
	width: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u13749-3
{
	z-index: 238;
	width: 50px;
	min-height: 50px;
	background-color: #56A417;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u13747
{
	z-index: 241;
	width: 26px;
	min-height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 12px;
}

#u10009-4
{
	z-index: 167;
	width: 431px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #56A417;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u1691
{
	z-index: 52;
	width: 570px;
	height: 466px;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 700px;
	background: #DDDDDD url("../images/a1.jpg") no-repeat center bottom;
	background-size: cover;
}

#u10125-bw
{
	z-index: 48;
	min-height: 545px;
}

#u10010-4
{
	z-index: 171;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 180px;
}

#u10011-4
{
	z-index: 175;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 387px;
	left: 180px;
}

#u10012-4
{
	z-index: 179;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 493px;
	left: 180px;
}

#u10064
{
	z-index: 50;
	min-height: 884px;
	background-color: #F4F4F4;
}

#u10064_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 79px;
	padding-bottom: 80px;
}

#u10066-4
{
	z-index: 63;
	width: 570px;
	min-height: 32px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	left: 400px;
	position: relative;
}

#u10067
{
	z-index: 131;
	width: 60px;
	height: 2px;
	background-color: #DDDDDD;
	left: 655px;
	margin-top: 6px;
	position: relative;
}

#pu10085
{
	width: 0.01px;
	left: 100px;
	margin-top: 32px;
	position: relative;
}

#u10085
{
	z-index: 85;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 30px 67px 33px 33px;
}

#u10086-4
{
	z-index: 91;
	width: 498px;
	min-height: 21px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 14px;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u10087-6
{
	z-index: 99;
	width: 498px;
	min-height: 21px;
	background-color: transparent;
	color: #737373;
	line-height: 14px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 8px;
	position: relative;
}

#u10089-4
{
	z-index: 111;
	width: 500px;
	min-height: 121px;
	background-color: transparent;
	line-height: 26px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#buttonu10093
{
	z-index: 119;
	width: 125px;
	border-style: solid;
	border-color: #56A417;
	background-color: #000000;
	padding-bottom: 7px;
	margin-top: 23px;
	position: relative;
	border-width: 0px 4px 0px 0px;
}

#u10094-4
{
	z-index: 120;
	width: 122px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 3px;
}

#buttonu10093:hover #u10094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 12px -10000px 0px 0px;
}

#buttonu10093:hover #u10094-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u10090
{
	z-index: 89;
	width: 570px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 601px;
}

#pu6899
{
	width: 0.01px;
	left: 101px;
	margin-top: 33px;
	position: relative;
}

#u6899
{
	z-index: 87;
	width: 570px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u10129
{
	z-index: 86;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 570px;
	padding: 30px 67px 33px 33px;
}

#u10130-4
{
	z-index: 95;
	width: 498px;
	min-height: 21px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #000000;
	font-size: 14px;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u10131-6
{
	z-index: 105;
	width: 498px;
	min-height: 21px;
	background-color: transparent;
	color: #737373;
	line-height: 14px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 8px;
	position: relative;
}

#u10087-2,#u10131-2
{
	color: #56A417;
}

#u10132-4
{
	z-index: 115;
	width: 500px;
	min-height: 121px;
	background-color: transparent;
	line-height: 26px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#buttonu10133
{
	z-index: 124;
	width: 125px;
	border-style: solid;
	border-color: #56A417;
	background-color: #000000;
	padding-bottom: 7px;
	margin-top: 23px;
	position: relative;
	border-width: 0px 4px 0px 0px;
}

#buttonu10093:hover,#buttonu10133:hover
{
	border-color: #000000;
	background-color: #56A417;
	width: 125px;
	min-height: 0px;
	margin: 23px 0px 0px;
}

#u10134-4
{
	z-index: 125;
	width: 122px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 3px;
}

#buttonu10093.ButtonSelected #u10094-4,#buttonu10133:hover #u10134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 12px -10000px 0px 0px;
}

#buttonu10133.ButtonSelected #u10134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 12px -10000px 0px 0px;
}

#buttonu10133:hover #u10134-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u10064-bw
{
	z-index: 50;
	min-height: 884px;
}

#u13249
{
	z-index: 184;
	min-height: 152px;
	border-color: #000000;
	padding-bottom: 98px;
	background: #FFFFFF url("../images/s3.jpg") no-repeat center center;
	background-size: cover;
}

#u10124_align_to_page,#u10125_align_to_page,#u13249_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
}

#u13250-4
{
	z-index: 185;
	width: 473px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 449px;
}

#u13249-bw
{
	z-index: 184;
	min-height: 152px;
}

#pu12156,#pu10125,#pu13298
{
	width: 0.01px;
	margin-left: -100px;
}

#u13298
{
	z-index: 46;
	height: 493px;
	background-color: #FFFFFF;
}

#u13298-bw
{
	z-index: 46;
	height: 493px;
}

#pamphletu13251
{
	z-index: 189;
	width: 0.01px;
	height: 342px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 162px;
}

#u13267
{
	z-index: 190;
	width: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 323px;
	left: 497px;
}

#u13268
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: #ADADAD;
	background-color: #FFFFFF;
	border-radius: 100px;
}

#u13268.PamphletThumbSelected
{
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	border-radius: 100px;
	width: 20px;
	height: 20px;
	min-height: 4px;
	margin: 0px;
}

#u13269
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: #ADADAD;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 33px;
}

#u13269.PamphletThumbSelected
{
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	min-height: 4px;
	margin: 0px;
}

#u13254
{
	position: absolute;
	width: 1050px;
	background-color: transparent;
}

#u13254popup
{
	z-index: 193;
}

#u13259
{
	z-index: 194;
	width: 870px;
	height: 265px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 34px;
	margin-right: -10000px;
	position: relative;
}

#u13262-4
{
	z-index: 195;
	width: 870px;
	min-height: 60px;
	background-color: transparent;
	color: #737373;
	line-height: 25px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u13260
{
	z-index: 199;
	width: 100px;
	height: 100px;
	border-color: #ECECEC;
	margin-left: 385px;
	margin-top: 50px;
	position: relative;
	background: #D5D5D5 url("../images/t2-u13581-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u13261-4
{
	z-index: 200;
	width: 170px;
	min-height: 32px;
	background-color: transparent;
	color: #737373;
	line-height: 19px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 16px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 350px;
	margin-top: 23px;
	position: relative;
}

#u13255
{
	z-index: 204;
	width: 870px;
	height: 265px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 34px;
	margin-right: -10000px;
	position: relative;
}

#u13258-4
{
	z-index: 205;
	width: 870px;
	min-height: 60px;
	background-color: transparent;
	color: #737373;
	line-height: 25px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u13257
{
	z-index: 209;
	width: 100px;
	height: 100px;
	border-color: #ECECEC;
	margin-left: 385px;
	margin-top: 49px;
	position: relative;
	background: #D5D5D5 url("../images/t1-u13586-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u13256-4
{
	z-index: 210;
	width: 138px;
	min-height: 32px;
	background-color: transparent;
	color: #737373;
	line-height: 19px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 16px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 363px;
	margin-top: 24px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u13245
{
	z-index: 183;
	min-height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #F4F4F4;
}

#u13245_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 80px;
	padding-bottom: 90px;
}

#u13363-4
{
	z-index: 214;
	width: 570px;
	min-height: 32px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	left: 400px;
	position: relative;
}

#u13364
{
	z-index: 218;
	width: 60px;
	height: 2px;
	background-color: #DDDDDD;
	left: 654px;
	margin-top: 6px;
	position: relative;
}

#pu13438
{
	width: 0.01px;
	left: 320px;
	margin-top: 68px;
	position: relative;
}

#u13438
{
	z-index: 225;
	width: 100px;
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: relative;
	margin-right: -10000px;
}

#u13435
{
	z-index: 223;
	width: 100px;
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u13432
{
	z-index: 221;
	width: 100px;
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u13426
{
	z-index: 219;
	width: 100px;
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: relative;
	margin-right: -10000px;
	left: 630px;
}

#u13438:hover,#u13435:hover,#u13432:hover,#u13426:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13245-bw
{
	z-index: 183;
	min-height: 381px;
}

#u13724
{
	z-index: 2;
	min-height: 127px;
	padding-bottom: 18px;
}

#u10295_align_to_page,#u13724_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	left: -100px;
}

#ppbuttonu13726
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 517px;
}

#pbuttonu13726
{
	width: 0.01px;
	margin-left: 41px;
}

#buttonu13726
{
	z-index: 7;
	width: 38px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#buttonu13726:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13727
{
	z-index: 8;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#buttonu13729
{
	z-index: 9;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 72px;
}

#buttonu13726.ButtonSelected,#buttonu13729:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13730
{
	z-index: 10;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu13732
{
	z-index: 11;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 143px;
}

#buttonu13729.ButtonSelected,#buttonu13732:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13733
{
	z-index: 12;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu13735
{
	z-index: 13;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 215px;
}

#buttonu13732.ButtonSelected,#buttonu13735:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu13735.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13736
{
	z-index: 14;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u13725-4
{
	z-index: 3;
	width: 335px;
	min-height: 21px;
	margin-top: 32px;
}

#buttonu10321
{
	z-index: 311;
	width: 38px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 1228px;
}

#buttonu10321.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
}

#u10322-3
{
	z-index: 312;
	width: 40px;
	min-height: 19px;
	line-height: 24px;
	color: #000000;
	font-size: 20px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -2px;
	background: transparent url("../images/move%20up.png") no-repeat center center;
}

#buttonu10321.ButtonSelected #u10322-3
{
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 40px;
	margin: 1px -10000px 0px 0px;
}

#u10322
{
	padding-top: 6px;
}

#u13724-bw
{
	z-index: 2;
	min-height: 127px;
}

body
{
	position: relative;
	min-width: 1170px;
}

#page .verticalspacer
{
	clear: both;
}

