.version.projects /* version checker */
{
	color: #000011;
	background-color: #B2A478;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 48px;
}

#u13707
{
	z-index: 177;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 101px;
}

#u13704-4
{
	z-index: 165;
	width: 117px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 123px;
}

#u13709
{
	z-index: 178;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 270px;
}

#u13705-4
{
	z-index: 169;
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 292px;
}

#u13711
{
	z-index: 179;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 468px;
}

#u13706-4
{
	z-index: 173;
	width: 241px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 489px;
}

#u10302
{
	z-index: 155;
	width: 201px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1070px;
}

#u13713
{
	z-index: 180;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 22px;
}

#u13715
{
	z-index: 181;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 58px;
}

#u13717
{
	z-index: 182;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 93px;
}

#u13719
{
	z-index: 183;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 128px;
}

#u13721
{
	z-index: 184;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 163px;
}

#u10295,#u10295-bw
{
	z-index: 154;
	min-height: 30px;
}

#u13723
{
	z-index: 116;
	height: 85px;
}

#u13723-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 116;
	top: 30px;
}

#u10754
{
	z-index: 156;
	width: 203px;
	top: 57px;
	left: 0px;
}

#u10310-4
{
	z-index: 161;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
}

#u10251-4
{
	z-index: 157;
	width: 158px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 45px;
}

#menuu10252
{
	z-index: 117;
	width: 718px;
	top: 63px;
	left: 482px;
}

#u10267
{
	width: 104px;
	min-height: 25px;
	margin-right: -10000px;
}

#u10268
{
	width: 104px;
	padding-bottom: 9px;
}

#u10268:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u10268.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u10271-4
{
	width: 45px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10268:hover #u10271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u10268.MuseMenuActive #u10271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u10288
{
	width: 135px;
	min-height: 25px;
	margin-right: -10000px;
	left: 106px;
}

#u10289
{
	width: 135px;
	padding-bottom: 9px;
}

#u10289:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u10289.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u10291-4
{
	width: 76px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10289:hover #u10291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u10289.MuseMenuActive #u10291-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u10274
{
	width: 131px;
	min-height: 25px;
	margin-right: -10000px;
	left: 243px;
}

#u10277
{
	width: 131px;
	padding-bottom: 9px;
}

#u10277:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u10277.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u10278-4
{
	width: 72px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10277:hover #u10278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u10277.MuseMenuActive #u10278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u10253
{
	width: 110px;
	min-height: 25px;
	margin-right: -10000px;
	left: 376px;
}

#u10254
{
	width: 110px;
	padding-bottom: 9px;
}

#u10254:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u10254.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u10256-4
{
	width: 51px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10254:hover #u10256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u10254.MuseMenuActive #u10256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u10260
{
	width: 99px;
	min-height: 25px;
	margin-right: -10000px;
	left: 488px;
}

#u10263
{
	width: 99px;
	padding-bottom: 9px;
}

#u10263:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u10263.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u10266-4
{
	width: 40px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10263:hover #u10266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u10263.MuseMenuActive #u10266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u10281
{
	width: 129px;
	min-height: 25px;
	margin-right: -10000px;
	left: 589px;
}

#u10284
{
	width: 129px;
	padding-bottom: 9px;
}

#u10284:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u10284.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u10287-4
{
	width: 71px;
	min-height: 16px;
	margin-right: -10000px;
	top: 4px;
	left: 29px;
}

#u10284:hover #u10287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u10284.MuseMenuActive #u10287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#pu10460
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 84px;
}

#u10460
{
	z-index: 15;
	min-height: 78px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #F4F4F4;
	border-width: 1px 0px;
}

#u10460_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
}

#u10552
{
	z-index: 55;
	width: 168px;
	border-width: 1px;
	border-style: solid;
	border-color: #91C842;
	background-color: #91C842;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 100px;
}

#u10372-4
{
	z-index: 56;
	width: 187px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: -1px;
}

#u10460-bw
{
	z-index: 15;
	min-height: 78px;
	margin-top: 1px;
}

#u10776
{
	z-index: 114;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#slideshowu10381
{
	z-index: 16;
	width: 0.01px;
	height: 870px;
	margin-top: 63px;
	position: relative;
}

#u10382
{
	position: absolute;
	width: 697px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 766px;
	left: 238px;
	-pie-background: rgba(0,0,0,0.9);
}

#u10382popup
{
	z-index: 17;
}

#u10389
{
	z-index: 18;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u10389_img
{
	padding: 4px 6px 3px 7px;
}

#u14133
{
	z-index: 20;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14142
{
	z-index: 22;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14151
{
	z-index: 24;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14151_img
{
	padding-top: 11px;
	padding-bottom: 11px;
}

#u14160
{
	z-index: 26;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14160_img
{
	padding-left: 6px;
	padding-right: 6px;
}

#u14169
{
	z-index: 28;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14169_img
{
	padding-left: 4px;
	padding-right: 4px;
}

#u14178
{
	z-index: 30;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14187
{
	z-index: 32;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14196
{
	z-index: 34;
	width: 653px;
	height: 430px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14133_img,#u14142_img,#u14178_img,#u14187_img,#u14196_img
{
	padding-left: 14px;
	padding-right: 14px;
}

#u10403
{
	position: absolute;
	width: 1170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u10403popup
{
	z-index: 36;
}

#u10410
{
	z-index: 37;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
}

.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u10410_img
{
	margin-left: -19px;
	margin-right: -20px;
}

#u14136
{
	z-index: 39;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u14145
{
	z-index: 41;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	left: 800px;
}

#u14154
{
	z-index: 43;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
}

#u14154_img
{
	margin-left: -31px;
	margin-right: -31px;
}

#u14163
{
	z-index: 45;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 400px;
}

#u14163_img
{
	margin-left: -16px;
	margin-right: -16px;
}

#u14172
{
	z-index: 47;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 800px;
}

#u14172_img
{
	margin-left: -18px;
	margin-right: -17px;
}

#u14181
{
	z-index: 49;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
}

#u14190
{
	z-index: 51;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 400px;
}

#u14199
{
	z-index: 53;
	width: 370px;
	height: 270px;
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 800px;
}

#u10410_clip,#u14136_clip,#u14145_clip,#u14154_clip,#u14163_clip,#u14172_clip,#u14181_clip,#u14190_clip,#u14199_clip
{
	overflow: hidden;
	width: 370px;
	height: 270px;
}

#u14136_img,#u14145_img,#u14181_img,#u14190_img,#u14199_img
{
	margin-left: -11px;
	margin-right: -12px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu10586
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 80px;
}

#u10586
{
	z-index: 60;
	min-height: 407.8467946483729px;
	background-color: #F4F4F4;
	padding-bottom: 0px;
}

#u10586_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 98px;
}

#u10591-4
{
	z-index: 61;
	width: 570px;
	min-height: 32px;
	background-color: transparent;
	color: #000000;
	line-height: 24px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	left: 100px;
	position: relative;
}

#u10593
{
	z-index: 65;
	width: 60px;
	height: 2px;
	background-color: #DDDDDD;
	left: 100px;
	margin-top: 6px;
	position: relative;
}

#pu10597-4
{
	width: 0.01px;
	left: 99px;
	margin-top: 34px;
	position: relative;
}

#u10597-4
{
	z-index: 98;
	width: 50px;
	min-height: 50px;
	background-color: #56A417;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u10595-4
{
	z-index: 66;
	width: 490px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #56A417;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u10598-4
{
	z-index: 106;
	width: 50px;
	min-height: 50px;
	background-color: #56A417;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 601px;
}

#u10599-4
{
	z-index: 74;
	width: 490px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #56A417;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 681px;
}

#pu10607-4
{
	width: 0.01px;
	left: 99px;
	margin-top: 81px;
	position: relative;
}

#u10607-4
{
	z-index: 102;
	width: 50px;
	min-height: 50px;
	background-color: #56A417;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u10608-4
{
	z-index: 70;
	width: 490px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #56A417;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u10610-4
{
	z-index: 110;
	width: 50px;
	min-height: 50px;
	background-color: #56A417;
	border-radius: 200px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 601px;
}

#u10611-4
{
	z-index: 78;
	width: 490px;
	min-height: 33px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #56A417;
	font-size: 14px;
	line-height: 36px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 681px;
}

#u10586-bw
{
	z-index: 60;
	min-height: 407.8467946483729px;
}

#u10596-4
{
	z-index: 82;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 179px;
}

#u10609-4
{
	z-index: 86;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 179px;
}

#u10600-4
{
	z-index: 90;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 780px;
}

#u10612-4
{
	z-index: 94;
	width: 490px;
	min-height: 52px;
	background-color: transparent;
	line-height: 20px;
	color: #737373;
	font-size: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 780px;
}

#u13724
{
	z-index: 2;
	min-height: 127px;
	padding-bottom: 18px;
}

#u10295_align_to_page,#u13724_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	left: -100px;
}

#ppbuttonu13726
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 517px;
}

#pbuttonu13726
{
	width: 0.01px;
	margin-left: 41px;
}

#buttonu13726
{
	z-index: 7;
	width: 38px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#buttonu13726:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13727
{
	z-index: 8;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#buttonu13729
{
	z-index: 9;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 72px;
}

#buttonu13726.ButtonSelected,#buttonu13729:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13730
{
	z-index: 10;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu13732
{
	z-index: 11;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 143px;
}

#buttonu13729.ButtonSelected,#buttonu13732:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13733
{
	z-index: 12;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu13735
{
	z-index: 13;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 215px;
}

#buttonu13732.ButtonSelected,#buttonu13735:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu13735.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13736
{
	z-index: 14;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u13725-4
{
	z-index: 3;
	width: 335px;
	min-height: 21px;
	margin-top: 32px;
}

#buttonu10327
{
	z-index: 185;
	width: 38px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 1228px;
}

#buttonu10327.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
}

#u10328-3
{
	z-index: 186;
	width: 40px;
	min-height: 19px;
	line-height: 24px;
	color: #000000;
	font-size: 20px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -2px;
	background: transparent url("../images/move%20up.png") no-repeat center center;
}

#buttonu10327.ButtonSelected #u10328-3
{
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 40px;
	margin: 1px -10000px 0px 0px;
}

#u10328
{
	padding-top: 6px;
}

#u13724-bw
{
	z-index: 2;
	min-height: 127px;
}

body
{
	position: relative;
	min-width: 1170px;
}

#page .verticalspacer
{
	clear: both;
}

