.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u12453-3
{
	font-family: abril-fatface-n4, serif;
}

#u12436-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12423-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12431-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12445-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12449-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12417-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12454-4,#u12455-4,#u13913-4,#u13914-4,#u12472-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13004-2
{
	font-family: open-sans-n4, sans-serif;
}

#u13004-3
{
	font-family: alice-n4, serif;
}

#u13005-4
{
	font-family: open-sans-i4, sans-serif;
}

#u13003-4,#u13011-4,#u13950-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13949-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13947-3
{
	font-family: '__FontAwesome_5';
}

#u13946-3
{
	font-family: '__FontAwesome_5';
}

#u13948-3
{
	font-family: '__FontAwesome_5';
}

#u13955-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13953-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13958-3
{
	font-family: '__FontAwesome_5';
}

#u13959-3
{
	font-family: '__FontAwesome_5';
}

#u13957-3
{
	font-family: '__FontAwesome_5';
}

#u13966-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13965-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13962-3
{
	font-family: '__FontAwesome_5';
}

#u13963-3
{
	font-family: '__FontAwesome_5';
}

#u13964-3
{
	font-family: '__FontAwesome_5';
}

#u13606-4
{
	font-family: montserrat-n4, sans-serif;
}

