.version.about /* version checker */
{
	color: #0000FD;
	background-color: #580F61;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu13828
{
	width: 0.01px;
}

#u13828
{
	z-index: 118;
	min-height: 82px;
	padding-bottom: 25px;
}

#u11532-4
{
	z-index: 160;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 25px;
}

#u11531-4
{
	z-index: 156;
	width: 123px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 60px;
}

#menuu11487
{
	z-index: 119;
	width: 540px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 221px;
}

#u11502
{
	width: 77px;
	min-height: 25px;
	margin-right: -10000px;
}

#u11503
{
	width: 77px;
	padding-bottom: 12px;
}

#u11503:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u11503.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u11506-4
{
	width: 39px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11503:hover #u11506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u11503.MuseMenuActive #u11506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u11495
{
	width: 103px;
	min-height: 25px;
	margin-right: -10000px;
	left: 79px;
}

#u11498
{
	width: 103px;
	padding-bottom: 12px;
}

#u11498:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u11498.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u11501-4
{
	width: 65px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11498:hover #u11501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u11498.MuseMenuActive #u11501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u11509
{
	width: 99px;
	min-height: 25px;
	margin-right: -10000px;
	left: 184px;
}

#u11512
{
	width: 99px;
	padding-bottom: 12px;
}

#u11512:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u11512.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u11513-4
{
	width: 61px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11512:hover #u11513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u11512.MuseMenuActive #u11513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u11516
{
	width: 81px;
	min-height: 25px;
	margin-right: -10000px;
	left: 285px;
}

#u11519
{
	width: 81px;
	padding-bottom: 12px;
}

#u11519:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u11519.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u11522-4
{
	width: 43px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11519:hover #u11522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u11519.MuseMenuActive #u11522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u11523
{
	width: 72px;
	min-height: 25px;
	margin-right: -10000px;
	left: 368px;
}

#u11526
{
	width: 72px;
	padding-bottom: 12px;
}

#u11526:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u11526.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u11528-4
{
	width: 34px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11526:hover #u11528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u11526.MuseMenuActive #u11528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u11488
{
	width: 98px;
	min-height: 25px;
	margin-right: -10000px;
	left: 442px;
}

#u11491
{
	width: 98px;
	padding-bottom: 12px;
}

#u11491:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u11491.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u11493-4
{
	width: 60px;
	min-height: 13px;
	margin-right: -10000px;
	top: 6px;
	left: 19px;
}

#u11491:hover #u11493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u11491.MuseMenuActive #u11493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u13828-bw
{
	z-index: 118;
	min-height: 82px;
}

#u13831
{
	z-index: 174;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 25px;
}

#u13829-4
{
	z-index: 166;
	width: 117px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 47px;
}

#u13833
{
	z-index: 175;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 199px;
}

#u13830-4
{
	z-index: 170;
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 221px;
}

#u11534
{
	z-index: 165;
	width: 195px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 548px;
}

#u13835
{
	z-index: 176;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 20px;
}

#u13837
{
	z-index: 177;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 55px;
}

#u13839
{
	z-index: 178;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 91px;
}

#u13841
{
	z-index: 179;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 126px;
}

#u13843
{
	z-index: 180;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 161px;
}

#u11533,#u11533-bw
{
	z-index: 164;
	min-height: 30px;
}

#pu12028
{
	width: 0.01px;
	margin-top: -1px;
}

#u12028
{
	z-index: 15;
	min-height: 78px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #F4F4F4;
	border-width: 1px 0px;
}

#u12039
{
	z-index: 16;
	width: 135px;
	border-width: 1px;
	border-style: solid;
	border-color: #91C842;
	background-color: #91C842;
	padding-bottom: 28px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 24px;
}

#u12023-4
{
	z-index: 17;
	width: 150px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: -1px;
}

#u12028-bw
{
	z-index: 15;
	min-height: 78px;
}

#u12021
{
	z-index: 21;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#ppu12072-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 57px;
}

#pu12072-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u12072-4
{
	z-index: 25;
	width: 350px;
	min-height: 32px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u12075
{
	z-index: 38;
	width: 60px;
	height: 2px;
	background-color: #DDDDDD;
	margin-top: 6px;
	position: relative;
}

#u12073-5
{
	z-index: 29;
	width: 350px;
	min-height: 95px;
	background-color: transparent;
	text-align: left;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u12073-2
{
	line-height: 24px;
	color: #737373;
	font-family: open-sans, sans-serif;
}

#u12073-3
{
	line-height: 21px;
	letter-spacing: 1px;
	color: #000000;
	font-family: alice, serif;
}

#u12074-4
{
	z-index: 34;
	width: 350px;
	min-height: 80px;
	background-color: transparent;
	text-align: left;
	line-height: 24px;
	letter-spacing: 0px;
	color: #56A417;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u12070
{
	z-index: 23;
	width: 350px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 370px;
}

#u12070:hover
{
	width: 350px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.picture
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u12079-4
{
	z-index: 39;
	width: 370px;
	min-height: 32px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 199px;
	margin-top: 82px;
	position: relative;
}

#u12080
{
	z-index: 43;
	width: 60px;
	height: 2px;
	background-color: #DDDDDD;
	margin-left: 353px;
	margin-top: 6px;
	position: relative;
}

#pbuttonu13870
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 59px;
}

#buttonu13870
{
	z-index: 58;
	width: 226px;
	border-color: #787878;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../../images/t1.jpg") no-repeat center center;
	background-size: cover;
}

#pu13876
{
	z-index: 59;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 9px;
}

#u13876
{
	z-index: 0;
	width: 208px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu13870:hover #u13876
{
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u13872-4
{
	z-index: 60;
	width: 206px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 19px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 16px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu13870:hover #u13872-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 206px;
	margin: 0px;
}

#buttonu13870:hover #u13872-4 p
{
	font-size: 16px;
}

#u13871-4
{
	z-index: 73;
	width: 206px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #56A417;
	line-height: 13px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 11px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#buttonu13870:hover #u13871-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 206px;
	margin: 6px 0px 0px;
}

#u13873
{
	z-index: 77;
	width: 30px;
	height: 2px;
	border-color: #000000;
	background-color: #DDDDDD;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	margin-left: 89px;
	margin-top: 4px;
	position: relative;
}

#buttonu13870:hover #u13873
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 30px;
	height: 2px;
	min-height: 0px;
	margin: 4px 0px 0px 89px;
}

#u13875-3
{
	z-index: 64;
	width: 28px;
	min-height: 23px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#buttonu13870:hover #u13875-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#u13874-3
{
	z-index: 67;
	width: 28px;
	min-height: 23px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 51px;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#buttonu13870:hover #u13874-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#u13877-3
{
	z-index: 70;
	width: 28px;
	min-height: 23px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 102px;
	background: transparent url("../../images/google%20plus.png") no-repeat left top;
}

#buttonu13870:hover #u13877-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#buttonu13878
{
	z-index: 78;
	width: 226px;
	border-color: #787878;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 246px;
	background: #CACACA url("../../images/t2.jpg") no-repeat center center;
	background-size: cover;
}

#pu13882
{
	z-index: 79;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 9px;
}

#u13882
{
	z-index: 0;
	width: 208px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu13878:hover #u13882
{
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u13881-4
{
	z-index: 80;
	width: 206px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 19px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 16px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu13878:hover #u13881-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 206px;
	margin: 0px;
}

#buttonu13878:hover #u13881-4 p
{
	font-size: 16px;
}

#u13879-4
{
	z-index: 93;
	width: 206px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #56A417;
	line-height: 13px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 11px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#buttonu13878:hover #u13879-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 206px;
	margin: 6px 0px 0px;
}

#u13880
{
	z-index: 97;
	width: 30px;
	height: 2px;
	border-color: #000000;
	background-color: #DDDDDD;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	margin-left: 89px;
	margin-top: 4px;
	position: relative;
}

#buttonu13878:hover #u13880
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 30px;
	height: 2px;
	min-height: 0px;
	margin: 4px 0px 0px 89px;
}

#pu13875-3,#pu13883-3
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 93px;
}

#u13883-3
{
	z-index: 84;
	width: 28px;
	min-height: 23px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#buttonu13878:hover #u13883-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#u13884-3
{
	z-index: 87;
	width: 28px;
	min-height: 23px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 51px;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#buttonu13878:hover #u13884-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#u13885-3
{
	z-index: 90;
	width: 28px;
	min-height: 23px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 102px;
	background: transparent url("../../images/google%20plus.png") no-repeat left top;
}

#buttonu13878:hover #u13885-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#buttonu13886
{
	z-index: 98;
	width: 226px;
	border-color: #787878;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 492px;
	background: #CACACA url("../../images/t3.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu13870.ButtonSelected,#buttonu13878.ButtonSelected,#buttonu13886.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#pu13891
{
	z-index: 99;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 9px;
}

#u13891
{
	z-index: 0;
	width: 208px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu13886:hover #u13891
{
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#buttonu13870.ButtonSelected #u13876,#buttonu13878.ButtonSelected #u13882,#buttonu13886.ButtonSelected #u13891
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#pu13872-4,#pu13881-4,#pu13892-4
{
	width: 0.01px;
	position: relative;
	padding-top: 56px;
	z-index: 2;
	padding-bottom: 51px;
}

#u13892-4
{
	z-index: 100;
	width: 206px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 19px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 16px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu13886:hover #u13892-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 206px;
	margin: 0px;
}

#buttonu13870.ButtonSelected #u13872-4,#buttonu13878.ButtonSelected #u13881-4,#buttonu13886.ButtonSelected #u13892-4
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 206px;
	margin: 0px;
}

#buttonu13886:hover #u13892-4 p
{
	font-size: 16px;
}

#u13889-4
{
	z-index: 113;
	width: 206px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #56A417;
	line-height: 13px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 11px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#buttonu13886:hover #u13889-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 206px;
	margin: 6px 0px 0px;
}

#buttonu13870.ButtonSelected #u13871-4,#buttonu13878.ButtonSelected #u13879-4,#buttonu13886.ButtonSelected #u13889-4
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 206px;
	margin: 6px 0px 0px;
}

#u13890
{
	z-index: 117;
	width: 30px;
	height: 2px;
	border-color: #000000;
	background-color: #DDDDDD;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	margin-left: 89px;
	margin-top: 4px;
	position: relative;
}

#buttonu13886:hover #u13890
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 30px;
	height: 2px;
	min-height: 0px;
	margin: 4px 0px 0px 89px;
}

#buttonu13870.ButtonSelected #u13873,#buttonu13878.ButtonSelected #u13880,#buttonu13886.ButtonSelected #u13890
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 30px;
	height: 2px;
	min-height: 0px;
	margin: 4px 0px 0px 89px;
}

#pu13893-3
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 93px;
}

#u13893-3
{
	z-index: 104;
	width: 28px;
	min-height: 23px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#buttonu13886:hover #u13893-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#u13888-3
{
	z-index: 107;
	width: 28px;
	min-height: 23px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 51px;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#buttonu13886:hover #u13888-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#u13887-3
{
	z-index: 110;
	width: 28px;
	min-height: 23px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	line-height: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 102px;
	background: transparent url("../../images/google%20plus.png") no-repeat left top;
}

#buttonu13886:hover #u13887-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#buttonu13870.ButtonSelected #u13875-3,#buttonu13870.ButtonSelected #u13874-3,#buttonu13870.ButtonSelected #u13877-3,#buttonu13878.ButtonSelected #u13883-3,#buttonu13878.ButtonSelected #u13884-3,#buttonu13878.ButtonSelected #u13885-3,#buttonu13886.ButtonSelected #u13893-3,#buttonu13886.ButtonSelected #u13888-3,#buttonu13886.ButtonSelected #u13887-3
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 28px;
	margin: 0px -10000px 0px 0px;
}

#u13526
{
	z-index: 44;
	min-height: 184px;
	border-style: none;
	border-color: transparent;
	background-color: #F4F4F4;
	padding: 48px 79px 80px 87px;
}

#u13527-4
{
	z-index: 45;
	width: 570px;
	min-height: 32px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 12px;
	position: relative;
}

#u13528
{
	z-index: 49;
	width: 60px;
	height: 2px;
	background-color: #DDDDDD;
	margin-left: 266px;
	margin-top: 6px;
	position: relative;
}

#pu13535
{
	width: 0.01px;
	margin-top: 41px;
	position: relative;
}

#u13535
{
	z-index: 56;
	width: 100px;
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: relative;
	margin-right: -10000px;
}

#u13533
{
	z-index: 54;
	width: 100px;
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u13531
{
	z-index: 52;
	width: 100px;
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u13529
{
	z-index: 50;
	width: 100px;
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#u13535:hover,#u13533:hover,#u13531:hover,#u13529:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13526-bw
{
	z-index: 44;
	min-height: 184px;
	margin-top: 80px;
}

#u13845
{
	z-index: 2;
	min-height: 71.60000000000036px;
	padding: 19px 215px 15.399999999999636px 218px;
}

#pbuttonu13846
{
	width: 0.01px;
	margin-left: 39px;
	position: relative;
}

#buttonu13846
{
	z-index: 3;
	width: 38px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#buttonu13846:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13847
{
	z-index: 4;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#buttonu13849
{
	z-index: 5;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 72px;
}

#buttonu13846.ButtonSelected,#buttonu13849:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13850
{
	z-index: 6;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu13852
{
	z-index: 7;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 143px;
}

#buttonu13849.ButtonSelected,#buttonu13852:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13853
{
	z-index: 8;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#buttonu13855
{
	z-index: 9;
	width: 38px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 215px;
}

#buttonu13852.ButtonSelected,#buttonu13855:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu13855.ButtonSelected
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13856
{
	z-index: 10;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u11542-4
{
	z-index: 11;
	width: 335px;
	min-height: 21px;
	margin-top: 13px;
}

#u13845-bw
{
	z-index: 2;
	min-height: 71.60000000000036px;
	margin-top: -1px;
	margin-bottom: -1px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

