.Quote
{
	font-family: maven-pro-n9, sans-serif;
}

.Feedback,.Position,.Name
{
	font-family: maven-pro-n4, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

#u11532-4,#u11531-4,#u11506-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11501-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11513-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11522-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11528-4
{
	font-family: montserrat-n4, sans-serif;
}

#u11493-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13829-4,#u13830-4,#u11542-4
{
	font-family: montserrat-n4, sans-serif;
}

#u12073-2
{
	font-family: open-sans-n4, sans-serif;
}

#u12073-3
{
	font-family: alice-n4, serif;
}

#u12074-4
{
	font-family: open-sans-i4, sans-serif;
}

#u12023-4,#u12072-4,#u12079-4,#u13872-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13871-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13875-3
{
	font-family: '__FontAwesome_5';
}

#u13874-3
{
	font-family: '__FontAwesome_5';
}

#u13877-3
{
	font-family: '__FontAwesome_5';
}

#u13881-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13879-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13883-3
{
	font-family: '__FontAwesome_5';
}

#u13884-3
{
	font-family: '__FontAwesome_5';
}

#u13885-3
{
	font-family: '__FontAwesome_5';
}

#u13892-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13889-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13893-3
{
	font-family: '__FontAwesome_5';
}

#u13888-3
{
	font-family: '__FontAwesome_5';
}

#u13887-3
{
	font-family: '__FontAwesome_5';
}

#u13527-4
{
	font-family: montserrat-n4, sans-serif;
}

